 html, body {
    height: 100%;
    margin:0px;
    padding:0px;
    border:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:100%;
    vertical-align: baseline;
}


#map-canvas, #map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map-canvas, #map_canvas {
    height: 650px;
  }
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}


html{
	padding:0px;
	margin:0px;
}

body{
	background-image: url(../images/bg_topX.jpg);
	background-repeat:repeat-x;
}

.clear{ clear:both;}

input {
    border: 5px solid #336699;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 10px;
    vertical-align:top;
    background: rgba(255,255,255,0.8);
    width: 650px;
}

#header{
	width:100%;
	margin: 10px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	text-align:center;
	float:center;
}

#logos{
	top: 35px;
    position: absolute;
    width:100%;
    text-align:right;
    z-index:-999;
}

.image_space{
	padding:0px 15px 0px 0px;
}


ul#menu_header{ float:right;  margin:0px 0px 0px 0px; padding:0px; clear: right;font-weight:bold;}
ul#menu_header li{ float:left; list-style:none; margin:2px 30px 0px 0px; color:#9c9797;font-weight:bold;}
ul#menu_header li a{ font-size:12px; text-decoration:none; color:#9c9797; position:relative;font-weight:bold;}
ul#menu_header li a:hover{color:#fcb30f;font-weight:bold;}

.ui-helper-hidden-accessible { display:none; }

#search_image {
   cursor:pointer;
}


.styled-select {
   width: 240px;
   height: 200px;
   font-size:small;
 }

.loading-container {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
  left:0;
  display:none;
}
.loading-container:before {
    position:absolute;
    top:50%;
    left:50%;
    display:block;
    width:100px;
    height:100px;
    line-height:100px;
    margin:-50px 0 0 -50px;
    color:#fff;
    text-align:center;
    background:rgba(0,0,0,.9);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    z-index: 9999;
    border-radius: 5px;
    content: 'loading...';
    }
}